
Art Folder/Vertical Slice 2/2D/Textures/test textures/.mayaSwatches/arena pillar TEST.png_hcm.swatch
Art Folder/Vertical Slice 2/3D/All 3D Models/environment/arena separate.ma
Art Folder/Vertical Slice 2/Unity/ArtistAnimationTest/Assets/PrivateWorkEnv/Peter/Assets/Animation Controllers/Humanoids.controller
Art Folder/Vertical Slice 2/Unity/ArtistAnimationTest/Assets/Placeholders/Models/boxMan.fbx.meta
Art Folder/Vertical Slice 2/Unity/ArtistAnimationTest/Assets/Placeholders/Animator Controller/Humanoids.controller
Art Folder/Vertical Slice 2/Unity/ArtistAnimationTest/Assets/Placeholders/Animations/Locomotion/unarmed_run.anim.meta
Art Folder/Vertical Slice 2/Unity/ArtistAnimationTest/Assets/Placeholders/Animations/Locomotion/unarmed_run.anim
Art Folder/Vertical Slice 2/3D/Animatie folder/Character/exports/export please doe het 
